{% extends "base.html" %}

{% load static %}

{% block content %}
    <h1>Latest News</h1>
    <ul class="news-list">
        {% for news in news_list %}
        <li>
            <div class="img-news-list">
                <img src="{{news.image_url}}" alt="">
            </div>
            <div class="text-news">
                <h3><a href="{% url 'home:news_detail' news.id %}">{{news.title}}</a></h3>
                <p>{{news.date_added|date:'d-m-Y'}}</p>
                <p>{{news.text|truncatewords:25}}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% include "pagination.html" with page=news_list %}
{% endblock content %}